<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Login</h2>
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="onClickSubmit()">
      <mat-form-field>
        <mat-label><mat-icon>person</mat-icon> Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="loginForm.get('email').hasError('required')">未入力です</mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('email')">不正な値です</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label><mat-icon>lock</mat-icon> Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <mat-error *ngIf="loginForm.get('password').hasError('required')">未入力です</mat-error>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">LOGIN</button>
    </form>
  </mat-card>
</div>
